body {
    margin: 0 auto;
    width: 70%;
    font-family: 'Source Code Pro';
    line-height: 20pt;
    background-color: whitesmoke;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15pt 5pt 5pt 5pt;
    
    justify-content: center;
    flex-direction: column;
}

header nav i:hover, .contact-site a:hover {
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

h1 {
    font-size: 40pt;
    padding: 15pt 0pt;
}

nav {
    margin: 0 -10pt;
    list-style-type: none;
}

nav i a, .contact-site a {
    text-decoration: none;
    color: black;
}

main {
    padding: 60pt 5pt 5pt 5pt;
}

main section {
    padding-bottom: 35pt;
}

h2 {
    font-size: 26pt;
}

p {
    font-size: 16px;
    margin-top: 10pt;
}

#profile-picture {
    border-radius: 100%;
    width: 270pt;
    float: right;
    margin: 20pt 15pt;
    box-shadow: 10px 10px 8px #888888;
    align-self: center;
}

.about-me {
    display: flex;
    width: 100%;
    text-align: justify;
}

@media only screen and (max-device-width: 768px) {
    nav i {
        font-size: 50pt;
        display: block;
        margin: 30pt 5pt;
        text-align: center;
    }
    .about-me {
        flex-direction: column;
    }
    h1 {
        position: absolute;
        top: 20pt;
        font-size: 70pt;
    }
    nav {
        margin-top: 80pt;
    }
}

@media only screen and (min-device-width: 768px) {
    nav i {
        font-size: 16pt;
        margin: 0 5pt;
    }
    .about-me {
        flex-direction: row;
    }
}


.games, .web-development {
    width: 100%;
    margin-top: 10pt;
    background-color: black;
    padding: 15pt 15pt;
    color: white;
    border-radius: 10pt;
}

.games p, .web-development p {
    text-align: center;
    font-size: 14px;
    padding-bottom: 10pt;
}

.game-gifs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-gifs img {
    width: 30%;
    border: 1px solid white;
}

h3 {
    font-size: 18pt;
    text-align: center;
}

.skills {
    width: 100%;
    margin-top: 10pt;
    padding: 15pt 15pt;
}

.skills h2 {
    text-align: center;
    padding-bottom: 15pt;
    font-weight: bold;
}

.skill-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.skills img {
    width: 60pt;
    margin: 0 15pt;
}

footer {
    background-color: darkgray;
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .contact-site img {
    width: 20pt;
    margin-bottom: -5pt;
}

footer .contact-site {
    padding: 15pt 15pt;
}

.contact-site a {
    text-decoration: underline;
}

#language {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 15;
}

#flags img {
    width: 150pt;
    margin: 15pt;
    border-radius: 15pt;
}

#flags img:hover {
    opacity: 0.6;
}

#flags img:active {
    opacity: 0.4;
}

#flags {
    display: flex;
    height: 100%;
    width: 30%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
